div{
    display: inline-block;
    width: 200px;
    height: 100px;
    color: white;
    margin: 30px;
    background-color: #ff00fe
}

#primero{
    background-color: #20b1aa;
    
    
}

#segundo{
    background-color: #ff00fe
}

#tercero{
    background-color: #010080
}

h1{
    text-align: center;
    text-decoration: underline wavy;
}